* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Georgia;
    font-size: 1rem;
    line-height: 1.5;
    color: bisque;
    overflow-x: hidden;
}

.v-header {
    height: 100vh;
    display: flex;
    align-items: center;
    color: papayawhip;
}

.container {
    max-width: 960px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
    text-align: center;
}

.fullscreen-video-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 200vh;
    overflow: hidden;
}

.fullscreen-video-wrap video {
    min-width: 100%;
    min-height: 100%;
}

.header-overlay {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: papayawhip;
    z-index: 1;
    opacity: 0.45;
}

.header-content {
    z-index: 1;
}

.header-content h1 {
    margin-bottom: 0;
}

.header-content p {
    display: block;
    padding-bottom: 2rem;
}

.header-content a {
    color: blueviolet;
}